<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Activity.css">
</head>
<body>
    





    <div class="bodyCon">
        


        <div class="leftNav">
            <center>
                <a href="../Home/Home.html" id="n1"><img src="../../src/asset/nav1_un.png"/></a>
                <a href="../Plus/Plus.html" id="n2"><img src="../../src/asset/h2_un.png"/></a>
                <a href="" id="n3"><img src="../../src/asset/h3.png"/></a>
                <a href="../About/About.html" id="n4"><img src="../../src/asset/h4_un.png"/></a>
            </center>
        </div>
        
        <div class="upperNav">
            <div class="navCon">
                <a href="#" id="n1">Home</a>
                <a href="#" id="n2">Plus</a>
                <a href="#" id="n3">Activity</a>
                <a href="#" id="n4">About</a>
            </div>
        </div>

        <div class="rightPanel">
            <img src="../../src/asset/plusUp.png" width="300px">
        </div>

        <div class="leftUpPanel">
            <h2>PLUS<br/>ACTIVITY</h2>
            <p >Complebe some tasks, unlock bonus points, and elevate
                your academic experience. Take charge of your learning,
                enhance your performance, and turn achievements into
                rewards.</p>
        </div>

        <div class="activity">
                
                <div class="activity1">
                    <center>
                     <h2>01</h2>
                        <button><a href="">CLICK</a></button>
                    </center>
                </div>

                <div class="activity2">
                    <center>
                        <h2>02</h2>
                        <button><a href="">CLICK</a></button>
                    </center>
                </div>

                <div class="activity3">
                    <center>
                        <h2>03</h2>
                        <button><a href="">CLICK</a></button>
                    </center>
                </div>
                
        </div>


        
    </div>






</body>
</html>