<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLUS School Points System</title>
    <link rel="stylesheet" href="Home.css"> 
    <link rel="stylesheet" href="../../src/asset/rootStyle.css"> 
</head>
<body>
    <div class="bodyCon">
        
        <!-- Left Navigation Panel -->
        <div class="leftNav">
            <center>
                <a href="#" id="n1"><img src="../../src/asset/nav1.png"/></a>
                <a href="../Plus/Plus.html" id="n2"><img src="../../src/asset/h2_un.png"/></a>
                <a href="../Activity/Activity.html" id="n3"><img src="../../src/asset/h3_un.png"/></a>
                <a href="../About/About.html" id="n4"><img src="../../src/asset/h4_un.png"/></a>
            </center>
        </div>
        
        <!-- Upper Navigation Panel -->
        <div class="upperNav">
            <div class="navCon">
                <a href="#" id="n1">Home</a>
                <a href="#" id="n2">Plus</a>
                <a href="#" id="n3">Activity</a>
                <a href="#" id="n4">About</a>
            </div>
        </div>

        <div class="leftDownPanelOutline"></div>
        <div class="leftUpPanel">
            <h1>Welcome to</h1>
            <h2>PLUS</h2>
            <p >Gamify your school experience! <br/>Take charge of your learning, boost performance, and make every achievement count with PLUS!</p>
            <img src="../../src/asset/homeTmp.png"/>
        </div>
        

        <div class="leftDownPanel">
            <h1>100</h1>
            <h2>Current PLUS</h2>
            <p>Earn points for completing assignments, participating in class, and achieving your goals.</p>
        </div>
        
        <div class="rightPanelOutline"></div>
        <div class="rightPanel">
            <h3 class="plus-log">PLUS LOG</h3>
            <div class="logs">
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
                <p>TEACHER 1 gave 100 PLUS</p>
            </div>

        </div>
</div>

</div>


</body>
</html>
