<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Activity.css">
</head>
<body>
    





    <div class="bodyCon">
        


        <div class="leftNav">
            <p>left nav</p>
        </div>
        
        <div class="upperNav">
            <p>upper nav</p>
        </div>

        <div class="rightPanel">
            <p>right Panel</p>
        </div>

        <div class="leftUpPanel">
            <p>leftUpPanel</p>
        </div>

        <div class="activity">

                <div class="activity1">
                    <p>Activity 1</p>
                </div>

                <div class="activity2">
                    <p>Activity 2</p>
                </div>

                <div class="activity3">
                    <p>Activity 3</p>
                </div>
                
        </div>


        
    </div>






</body>
</html>