<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLUS</title>
    <link rel="stylesheet" href="Plus.css">
</head>
<body>






    <div class="bodyCon">
        


        <div class="leftNav">
            <center>
                <a href="../Home/Home.html" id="n1"><img src="../../src/asset/nav1_un.png"/></a>
                <a href="" id="n2"><img src="../../src/asset/h2.png"/></a>
                <a href="../Activity/Activity.html" id="n3"><img src="../../src/asset/h3_un.png"/></a>
                <a href="../About/About.html" id="n4"><img src="../../src/asset/h4_un.png"/></a>
            </center>
        </div>
        
        <div class="upperNav">
            <div class="navCon">
                <a href="" id="n1">Home</a>
                <a href="" id="n2">Plus</a>
                <a href="#" id="n3">Activity</a>
                <a href="#" id="n4">About</a>
            </div>
        </div>

        <div class="rightPanel">
            
            <div class="uniquePoints red">
                <h1>100</h1>
                <h2>POINT NAME</h2>
                <h2>SUBJECT</h2>
                <h3>TEACHER LAST NAME</h3>
            </div>  
            <div class="uniquePoints yellow">
                <h1>100</h1>
                <h2>POINT NAME</h2>
                <h2>SUBJECT</h2>
                <h3>TEACHER LAST NAME</h3>
            </div> 
            <div class="uniquePoints blue">
                <h1>100</h1>
                <h2>POINT NAME</h2>
                <h2>SUBJECT</h2>
                <h3>TEACHER LAST NAME</h3>
            </div> 
            <div class="uniquePoints cyan">
                <h1>100</h1>
                <h2>POINT NAME</h2>
                <h2>SUBJECT</h2>
                <h3>TEACHER LAST NAME</h3>
            </div> 
            <div class="uniquePoints green">
                <h1>100</h1>
                <h2>POINT NAME</h2>
                <h2>SUBJECT</h2>
                <h3>TEACHER LAST NAME</h3>
            </div> 
            <div class="uniquePoints purple">
                <h1>100</h1>
                <h2>POINT NAME</h2>
                <h2>SUBJECT</h2>
                <h3>TEACHER LAST NAME</h3>
            </div> 
        </div>

        <div class="PlusPanel">
            <span>100,000</span>
            <img src="../../src/asset/plusSmall.png" width="50px"/>
            <h2>PLUS</h2>
        </div>

        <div class="leftDownPanel">
            <center>
            <h3 class="plus-log">PROGRESS</h3>
            <div class="logs">
                <p>100 Unique Points Added <br/> [Teacher 1]</p>
                <p>100 Unique Points Added <br/> [Teacher 1]</p>
                <p>100 Unique Points Added <br/> [Teacher 1]</p>
                <p>100 Unique Points Added <br/> [Teacher 1]</p>
            </div>
        </center>
        </div>
 

        
    </div>






</body>
</html>